# git
.github

# ignore terraform state
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# python
__pycache__

# nebari
nebari-config.yaml
config
/stages/
tests/
tmp/
.DS_Store